.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  color: #e50914;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar-left ul {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-icon {
  font-size: 18px;
  cursor: pointer;
}

.navbar-profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #141414;
  padding: 10px 15px;
  border-radius: 4px;
  display: none;
}

.dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
}

.nav-dark {
  background: #141414;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul {
    display: none;
  }
  .logo {
    font-size: 22px;
  }
}